extends layout

block content
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading Ball Test
      p.lead.text-muted
        | It is a page for testing traffic allocation.
  .album.py-5.bg-light
    .container
      .row
        .col-md-12
          h1
            | You have a ball
          .row#ballArea
          //- if color == 'red'
          //-   span.red-dot
          //- unless color == 'red'
          //-   span.blue-dot
block append-script
  script. 
    $(() => {
      jqueryDatepicker($);
      $('#date').datepicker({ dateFormat: 'yy-mm-dd' });
      $("#blockBtn").on('click', () => {
        $.blockUI();
        setTimeout(()=> {$.unblockUI();}, 2000);
      });
    });